export(assign.Rshare)
export(exists.Rshare)
export(get.Rshare)
export(getStatus)
export(ls.Rshare)
export(ls.str.Rshare)
export(lsf.str.Rshare)
export(registerRshareHook)
export(remove.Rshare)
export(rm.Rshare)
export(sendRObj)
export(sendRshare)
export(startRshare)
export(stopRshare)
