export(assign.Rshare)
export(exists.Rshare)
export(get.Rshare)
export(getPortEnv)
export(getSocketIds)
export(getStatus)
export(ls.Rshare)
export(ls.str.Rshare)
export(lsf.str.Rshare)
export(registerRshareHook)
export(remove.Rshare)
export(rm.Rshare)
export(RshareAssignReq)
export(RshareExistsReq)
export(RshareGetReq)
export(RshareLsfStrReq)
export(RshareLsReq)
export(RshareLsStrReq)
export(RshareRemoveReq)
export(sendRObj)
export(startRshare)
export(stopRshare)
